# Territory Analysis
## Data Cleaning and Geocoding
This notebook covers the cleaning of axiometrics market data on number of multifamily projects per metropolitan area.

Data source: Axiometrics query

### Dependencies

In [1]:
import pandas as pd
import numpy as np
import requests
import json
import time

In [2]:
# Import source csv
csv_path = '../data/project_opportunities.csv'
csv = pd.read_csv(csv_path)
df = pd.DataFrame(csv)

In [3]:
df.head()

  State                                    Market  2015  2016  2017
0    AL                     Birmingham-Hoover, AL   731  1365   417
1    AL                            Huntsville, AL   573   536   444
2    AL                                Mobile, AL    66   523   252
3    AL                            Montgomery, AL   604   136     0
4    AR  Little Rock-North Little Rock-Conway, AR   637  1006   755

## Prepare data for insertion into api endpoint
The 'market' column structure is as follows:
    * Cities within the metropolitan area are delimited by a hyphen
    * Spaces exist inside city names
    * Next comes a comma, followed by the state abbreviation
We will first remove the comma and state name following the city names, then deal with breaking up the cities in the metro area

In [4]:
# Convert market column to list of strings for parsing
market_stringlist = df.Market.tolist()

In [5]:
market_stringlist

['Birmingham-Hoover, AL',
 'Huntsville, AL',
 'Mobile, AL',
 'Montgomery, AL',
 'Little Rock-North Little Rock-Conway, AR',
 'Phoenix-Mesa-Scottsdale, AZ',
 'Tucson, AZ',
 'Anaheim-Santa Ana-Irvine, CA',
 'Fresno, CA',
 'Los Angeles-Long Beach-Glendale, CA',
 'Oakland-Hayward-Berkeley, CA',
 'Oxnard-Thousand Oaks-Ventura, CA',
 'Riverside-San Bernardino-Ontario, CA',
 'Sacramento--Roseville--Arden-Arcade, CA',
 'Salinas, CA',
 'San Diego-Carlsbad, CA',
 'San Francisco-Redwood City-South San Francisco, CA',
 'San Jose-Sunnyvale-Santa Clara, CA',
 'Santa Rosa, CA',
 'Boulder, CO',
 'Colorado Springs, CO',
 'Denver-Aurora-Lakewood, CO',
 'Bridgeport-Stamford-Norwalk, CT',
 'Hartford-West Hartford-East Hartford, CT',
 'New Haven-Milford, CT',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV',
 'Wilmington, DE-MD-NJ',
 'Cape Coral-Fort Myers, FL',
 'Deltona-Daytona Beach-Ormond Beach, FL',
 'Fort Lauderdale-Pompano Beach-Deerfield Beach, FL',
 'Gainesville, FL',
 'Jacksonville, FL',
 'Miami-Miami Beach-Kendall, FL',
 'Naples-Immokalee-Marco Island, FL',
 'North Port-Sarasota-Bradenton, FL',
 'Orlando-Kissimmee-Sanford, FL',
 'Palm Bay-Melbourne-Titusville, FL',
 'Tallahassee, FL',
 'Tampa-St. Petersburg-Clearwater, FL',
 'West Palm Beach-Boca Raton-Delray Beach, FL',
 'Athens-Clarke County, GA',
 'Atlanta-Sandy Springs-Roswell, GA',
 'Augusta-Richmond County, GA-SC',
 'Columbus, GA-AL',
 'Savannah, GA',
 'Urban Honolulu, HI',
 'Des Moines-West Des Moines, IA',
 'Chicago-Naperville-Arlington Heights, IL',
 'Lake County-Kenosha County, IL-WI',
 'Indianapolis-Carmel-Anderson, IN',
 'Lexington-Fayette, KY',
 'Louisville/Jefferson County, KY-IN',
 'Baton Rouge, LA',
 'New Orleans-Metairie, LA',
 'Boston-Cambridge-Newton, MA-NH',
 'Baltimore-Columbia-Towson, MD',
 'Silver Spring-Frederick-Rockville, MD',
 'Ann Arbor, MI',
 'Detroit-Dearborn-Livonia, MI',
 'Grand Rapids-Wyoming, MI',
 'Lansing-East Lansing, MI',
 'Warren-Troy-Farmington Hills, MI',
 'Minneapolis-St. Paul-Bloomington, MN-WI',
 'Kansas City, MO-KS',
 'St. Louis, MO-IL',
 'Jackson, MS',
 'Charlotte-Concord-Gastonia, NC-SC',
 'Durham-Chapel Hill, NC',
 'Fayetteville, NC',
 'Greensboro-High Point, NC',
 'Greenville, NC',
 'Raleigh, NC',
 'Wilmington, NC',
 'Winston-Salem, NC',
 'Omaha-Council Bluffs, NE-IA',
 'Camden, NJ',
 'Newark, NJ-PA',
 'Trenton, NJ',
 'Albuquerque, NM',
 'Las Vegas-Henderson-Paradise, NV',
 'Reno, NV',
 'Nassau County-Suffolk County, NY',
 'New York-Jersey City-White Plains, NY-NJ',
 'Syracuse, NY',
 'Akron, OH',
 'Cincinnati, OH-KY-IN',
 'Cleveland-Elyria, OH',
 'Columbus, OH',
 'Dayton, OH',
 'Oklahoma City, OK',
 'Tulsa, OK',
 'Portland-Vancouver-Hillsboro, OR-WA',
 'Montgomery County-Bucks County-Chester County, PA',
 'Philadelphia, PA',
 'Pittsburgh, PA',
 'Providence-Warwick, RI-MA',
 'Charleston-North Charleston, SC',
 'Columbia, SC',
 'Greenville-Anderson-Mauldin, SC',
 'Spartanburg, SC',
 'Chattanooga, TN-GA',
 'Knoxville, TN',
 'Memphis, TN-MS-AR',
 'Nashville-Davidson--Murfreesboro--Franklin, TN',
 'Austin-Round Rock, TX',
 'Corpus Christi, TX',
 'Dallas-Plano-Irving, TX',
 'El Paso, TX',
 'Fort Worth-Arlington, TX',
 'Houston-The Woodlands-Sugar Land, TX',
 'Odessa, TX',
 'San Antonio-New Braunfels, TX',
 'Salt Lake City, UT',
 'Richmond, VA',
 'Virginia Beach-Norfolk-Newport News, VA-NC',
 'Seattle-Bellevue-Everett, WA',
 'Spokane-Spokane Valley, WA',
 'Tacoma-Lakewood, WA',
 'Madison, WI',
 'Milwaukee-Waukesha-West Allis, WI']

In [6]:
# Strip out everything after comma and append to new list
nostate_strings = []
for metro in market_stringlist:
    stripped = metro.split(",")[0]
    nostate_strings.append(stripped)

In [7]:
nostate_strings

['Birmingham-Hoover',
 'Huntsville',
 'Mobile',
 'Montgomery',
 'Little Rock-North Little Rock-Conway',
 'Phoenix-Mesa-Scottsdale',
 'Tucson',
 'Anaheim-Santa Ana-Irvine',
 'Fresno',
 'Los Angeles-Long Beach-Glendale',
 'Oakland-Hayward-Berkeley',
 'Oxnard-Thousand Oaks-Ventura',
 'Riverside-San Bernardino-Ontario',
 'Sacramento--Roseville--Arden-Arcade',
 'Salinas',
 'San Diego-Carlsbad',
 'San Francisco-Redwood City-South San Francisco',
 'San Jose-Sunnyvale-Santa Clara',
 'Santa Rosa',
 'Boulder',
 'Colorado Springs',
 'Denver-Aurora-Lakewood',
 'Bridgeport-Stamford-Norwalk',
 'Hartford-West Hartford-East Hartford',
 'New Haven-Milford',
 'Washington-Arlington-Alexandria',
 'Wilmington',
 'Cape Coral-Fort Myers',
 'Deltona-Daytona Beach-Ormond Beach',
 'Fort Lauderdale-Pompano Beach-Deerfield Beach',
 'Gainesville',
 'Jacksonville',
 'Miami-Miami Beach-Kendall',
 'Naples-Immokalee-Marco Island',
 'North Port-Sarasota-Bradenton',
 'Orlando-Kissimmee-Sanford',
 'Palm Bay-Melbourne-Titusville',
 'Tallahassee',
 'Tampa-St. Petersburg-Clearwater',
 'West Palm Beach-Boca Raton-Delray Beach',
 'Athens-Clarke County',
 'Atlanta-Sandy Springs-Roswell',
 'Augusta-Richmond County',
 'Columbus',
 'Savannah',
 'Urban Honolulu',
 'Des Moines-West Des Moines',
 'Chicago-Naperville-Arlington Heights',
 'Lake County-Kenosha County',
 'Indianapolis-Carmel-Anderson',
 'Lexington-Fayette',
 'Louisville/Jefferson County',
 'Baton Rouge',
 'New Orleans-Metairie',
 'Boston-Cambridge-Newton',
 'Baltimore-Columbia-Towson',
 'Silver Spring-Frederick-Rockville',
 'Ann Arbor',
 'Detroit-Dearborn-Livonia',
 'Grand Rapids-Wyoming',
 'Lansing-East Lansing',
 'Warren-Troy-Farmington Hills',
 'Minneapolis-St. Paul-Bloomington',
 'Kansas City',
 'St. Louis',
 'Jackson',
 'Charlotte-Concord-Gastonia',
 'Durham-Chapel Hill',
 'Fayetteville',
 'Greensboro-High Point',
 'Greenville',
 'Raleigh',
 'Wilmington',
 'Winston-Salem',
 'Omaha-Council Bluffs',
 'Camden',
 'Newark',
 'Trenton',
 'Albuquerque',
 'Las Vegas-Henderson-Paradise',
 'Reno',
 'Nassau County-Suffolk County',
 'New York-Jersey City-White Plains',
 'Syracuse',
 'Akron',
 'Cincinnati',
 'Cleveland-Elyria',
 'Columbus',
 'Dayton',
 'Oklahoma City',
 'Tulsa',
 'Portland-Vancouver-Hillsboro',
 'Montgomery County-Bucks County-Chester County',
 'Philadelphia',
 'Pittsburgh',
 'Providence-Warwick',
 'Charleston-North Charleston',
 'Columbia',
 'Greenville-Anderson-Mauldin',
 'Spartanburg',
 'Chattanooga',
 'Knoxville',
 'Memphis',
 'Nashville-Davidson--Murfreesboro--Franklin',
 'Austin-Round Rock',
 'Corpus Christi',
 'Dallas-Plano-Irving',
 'El Paso',
 'Fort Worth-Arlington',
 'Houston-The Woodlands-Sugar Land',
 'Odessa',
 'San Antonio-New Braunfels',
 'Salt Lake City',
 'Richmond',
 'Virginia Beach-Norfolk-Newport News',
 'Seattle-Bellevue-Everett',
 'Spokane-Spokane Valley',
 'Tacoma-Lakewood',
 'Madison',
 'Milwaukee-Waukesha-West Allis']

### Parsing cities in metro areas
Next step is to separate cities within each metro area into their own pandas column. Considerations:
* Though rare, some cities have hyphens in their name, like Arden-Arcade
    * If that is the case in a metro area, cities are delimited by two hyphens instead
        * These are the only strings with two hyphens next to each other
    * This looks like it only occurs once, but we will deal with it programatically so that future, possibly larger datasets are processed properly

In [8]:
# First test is whether the string has two hyphens in a row
nested_list = []
for metro in nostate_strings:
    # Split strategy based on presence of '--' in string
    if '--' in metro:
        city_list = metro.split("--")
        nested_list.append(city_list)
    else:
        city_list = metro.split("-")
        nested_list.append(city_list)

In [9]:
nested_list

[['Birmingham', 'Hoover'],
 ['Huntsville'],
 ['Mobile'],
 ['Montgomery'],
 ['Little Rock', 'North Little Rock', 'Conway'],
 ['Phoenix', 'Mesa', 'Scottsdale'],
 ['Tucson'],
 ['Anaheim', 'Santa Ana', 'Irvine'],
 ['Fresno'],
 ['Los Angeles', 'Long Beach', 'Glendale'],
 ['Oakland', 'Hayward', 'Berkeley'],
 ['Oxnard', 'Thousand Oaks', 'Ventura'],
 ['Riverside', 'San Bernardino', 'Ontario'],
 ['Sacramento', 'Roseville', 'Arden-Arcade'],
 ['Salinas'],
 ['San Diego', 'Carlsbad'],
 ['San Francisco', 'Redwood City', 'South San Francisco'],
 ['San Jose', 'Sunnyvale', 'Santa Clara'],
 ['Santa Rosa'],
 ['Boulder'],
 ['Colorado Springs'],
 ['Denver', 'Aurora', 'Lakewood'],
 ['Bridgeport', 'Stamford', 'Norwalk'],
 ['Hartford', 'West Hartford', 'East Hartford'],
 ['New Haven', 'Milford'],
 ['Washington', 'Arlington', 'Alexandria'],
 ['Wilmington'],
 ['Cape Coral', 'Fort Myers'],
 ['Deltona', 'Daytona Beach', 'Ormond Beach'],
 ['Fort Lauderdale', 'Pompano Beach', 'Deerfield Beach'],
 ['Gainesville'],
 ['Jacksonville'],
 ['Miami', 'Miami Beach', 'Kendall'],
 ['Naples', 'Immokalee', 'Marco Island'],
 ['North Port', 'Sarasota', 'Bradenton'],
 ['Orlando', 'Kissimmee', 'Sanford'],
 ['Palm Bay', 'Melbourne', 'Titusville'],
 ['Tallahassee'],
 ['Tampa', 'St. Petersburg', 'Clearwater'],
 ['West Palm Beach', 'Boca Raton', 'Delray Beach'],
 ['Athens', 'Clarke County'],
 ['Atlanta', 'Sandy Springs', 'Roswell'],
 ['Augusta', 'Richmond County'],
 ['Columbus'],
 ['Savannah'],
 ['Urban Honolulu'],
 ['Des Moines', 'West Des Moines'],
 ['Chicago', 'Naperville', 'Arlington Heights'],
 ['Lake County', 'Kenosha County'],
 ['Indianapolis', 'Carmel', 'Anderson'],
 ['Lexington', 'Fayette'],
 ['Louisville/Jefferson County'],
 ['Baton Rouge'],
 ['New Orleans', 'Metairie'],
 ['Boston', 'Cambridge', 'Newton'],
 ['Baltimore', 'Columbia', 'Towson'],
 ['Silver Spring', 'Frederick', 'Rockville'],
 ['Ann Arbor'],
 ['Detroit', 'Dearborn', 'Livonia'],
 ['Grand Rapids', 'Wyoming'],
 ['Lansing', 'East Lansing'],
 ['Warren', 'Troy', 'Farmington Hills'],
 ['Minneapolis', 'St. Paul', 'Bloomington'],
 ['Kansas City'],
 ['St. Louis'],
 ['Jackson'],
 ['Charlotte', 'Concord', 'Gastonia'],
 ['Durham', 'Chapel Hill'],
 ['Fayetteville'],
 ['Greensboro', 'High Point'],
 ['Greenville'],
 ['Raleigh'],
 ['Wilmington'],
 ['Winston', 'Salem'],
 ['Omaha', 'Council Bluffs'],
 ['Camden'],
 ['Newark'],
 ['Trenton'],
 ['Albuquerque'],
 ['Las Vegas', 'Henderson', 'Paradise'],
 ['Reno'],
 ['Nassau County', 'Suffolk County'],
 ['New York', 'Jersey City', 'White Plains'],
 ['Syracuse'],
 ['Akron'],
 ['Cincinnati'],
 ['Cleveland', 'Elyria'],
 ['Columbus'],
 ['Dayton'],
 ['Oklahoma City'],
 ['Tulsa'],
 ['Portland', 'Vancouver', 'Hillsboro'],
 ['Montgomery County', 'Bucks County', 'Chester County'],
 ['Philadelphia'],
 ['Pittsburgh'],
 ['Providence', 'Warwick'],
 ['Charleston', 'North Charleston'],
 ['Columbia'],
 ['Greenville', 'Anderson', 'Mauldin'],
 ['Spartanburg'],
 ['Chattanooga'],
 ['Knoxville'],
 ['Memphis'],
 ['Nashville-Davidson', 'Murfreesboro', 'Franklin'],
 ['Austin', 'Round Rock'],
 ['Corpus Christi'],
 ['Dallas', 'Plano', 'Irving'],
 ['El Paso'],
 ['Fort Worth', 'Arlington'],
 ['Houston', 'The Woodlands', 'Sugar Land'],
 ['Odessa'],
 ['San Antonio', 'New Braunfels'],
 ['Salt Lake City'],
 ['Richmond'],
 ['Virginia Beach', 'Norfolk', 'Newport News'],
 ['Seattle', 'Bellevue', 'Everett'],
 ['Spokane', 'Spokane Valley'],
 ['Tacoma', 'Lakewood'],
 ['Madison'],
 ['Milwaukee', 'Waukesha', 'West Allis']]

In [10]:
# what is the longest list?
count_values = []
for city_list in nested_list:
    count_values.append(len(city_list))

In [11]:
max(count_values)

3

### Reconstructing dataframe
Now that the city names in the metro areas have been cleaned and parsed, we want to reconstruct a dataframe, with 3 columns for metro area instead of one.
* For the second and third columns, there will be null values for some areas
* We can use these columns to construct query strings for the google maps geocoding API

In [12]:
new_df = pd.DataFrame(nested_list, columns=['First', 'Second', 'Third'])

In [13]:
new_df.head()

         First             Second   Third
0   Birmingham             Hoover    None
1   Huntsville               None    None
2       Mobile               None    None
3   Montgomery               None    None
4  Little Rock  North Little Rock  Conway

In [14]:
# join and visualize new df
df = df.join(new_df)
df.head()

,State,Market,2015,2016,2017,First,Second,Third
0,AL,"Birmingham-Hoover, AL",731,1365,417,Birmingham,Hoover,None
1,AL,"Huntsville, AL",573,536,444,Huntsville,None,None
2,AL,"Mobile, AL",66,523,252,Mobile,None,None
3,AL,"Montgomery, AL",604,136,0,Montgomery,None,None
4,AR,"Little Rock-North Little Rock-Conway, AR",637,1006,755,Little Rock,North Little Rock,Conway

### Geocoding
Now that city and state names are parsed into their own columns, it will be easy to construct google maps geocoding api query strings. For finding latitude and longitude, the format is as follows:

* https://maps.googleapis.com/maps/api/geocode/json?address=New%20York,+New%20York&types=(locality)&key=AIzaSyBqwyQMdmH_-LZRLxrnLgtlzfenQiV0uoI
* https://maps.googleapis.com/maps/api/geocode/json?address= address

In [15]:
# elements of query string
boilerplate = 'https://maps.googleapis.com/maps/api/geocode/json?'
api_key = 'AIzaSyBqwyQMdmH_-LZRLxrnLgtlzfenQiV0uoI'

In [16]:
# create empty lists to hold lats and longs
lats = []
longs = []

# iterate through cities, construct query, return lats, longs, and append them to lists
for index, row in df.iterrows():
    city = row[5]
    state = row[0]
    query_string = boilerplate + 'address=' + city + ', ' + state + '&types=(locality)' + '&key=' + api_key
    response = requests.get(query_string)
    geojson = json.loads(response.text)
    returned_address = geojson['results'][0]['formatted_address']
    latitude = geojson["results"][0]["geometry"]["location"]["lat"]
    longitude = geojson["results"][0]["geometry"]["location"]["lng"]
    lats.append(latitude)
    longs.append(longitude)

In [17]:
print(len(lats))
print(len(longs))

120
120

In [18]:
df["First_Latitudes"] = pd.Series(lats)
df["First_Longitudes"] = pd.Series(longs)
df.head()

,State,Market,2015,2016,2017,First,Second,Third,First_Latitudes,First_Longitudes
0,AL,"Birmingham-Hoover, AL",731,1365,417,Birmingham,Hoover,None,33.518589,-86.810357
1,AL,"Huntsville, AL",573,536,444,Huntsville,None,None,34.730369,-86.586104
2,AL,"Mobile, AL",66,523,252,Mobile,None,None,30.695366,-88.039891
3,AL,"Montgomery, AL",604,136,0,Montgomery,None,None,32.379223,-86.307737
4,AR,"Little Rock-North Little Rock-Conway, AR",637,1006,755,Little Rock,North Little Rock,Conway,34.746481,-92.289595

In [23]:
# for testing, output simple .csv with lat, long, value
test_df = df[['First_Latitudes', 'First_Longitudes', '2017']]
test_df = test_df.rename({"First_Latitudes": "Latitude", "First_Longitudes": "Longitudes", "2017": "Value"}, axis='columns')
test_df.head()

    Latitude  Longitudes  Value
0  33.518589  -86.810357    417
1  34.730369  -86.586104    444
2  30.695366  -88.039891    252
3  32.379223  -86.307737      0
4  34.746481  -92.289595    755

In [24]:
test_df.to_csv('../output/test.csv', index=False)

## Data is now ready for ingestion into leaflet